.single-product__info {
  color: #666;
  font-size: 13px;
}

.single-product__title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #a6a6a6;
}
