.modal-standart {
  height: 400px;
}

.modal-standart__select {
  margin-bottom: 20px;
}

.modal-standart__select select {
  width: 333px;
  height: 34px;
  margin-top: 5px;
  padding: 4px;
  border-radius: 4px;
  box-shadow: 2px 2px 8px #999;
  background: #eee;
  border: none;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal-standart__select label {
  font-size: 14px;
  font-weight: 500;
  padding-left: 5px;
}

.modal-standart__button{
  border: none;
  background-color: #f18b6b;
  color: white;
  margin-top: 5px;
  margin-left: 95px;
  transition: 0.3s;
  height: 40px;
  width: 150px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 5px;
}

.modal-standart__button:hover{
  background-color: #ec3a04;
}

.modal-standart__button:disabled{
  color: black;
  background-color: #ccc;
}

.recommendations-block{
    height: 400px;
}

.recommendations {
    margin-top: 15px;
}

.recommendations__item{
  padding-top: 5px;
}
