.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main-block {
    background-color: #ccc;
    border: 1px solid #000; 
    width: 800px;
    padding: 20px
}

.single-product {
    border: 1px solid #000;
    margin-top: 5px;
}

.single-product__element {
    margin-left: 15px;
}